/* Set A4 size */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@page {
    size: A4;
    margin: 0;
}

/* Set content to fill the entire A4 page */
html,
body{
    width: 210mm;
    height: 297mm;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.wrapper{
    overflow-wrap: normal;
    position: relative;
}


h1{
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(97, 31, 62);
}

h2{
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color:rgb(127, 67, 95);
}

.p-info{
    text-align: center;
}

.list-title{
    font-weight: bold;
}

.list-whisper{
    color: rgb(125, 93, 110);
}

.date{
    position: absolute;
    right: 5px;
    top: 0px;
}

ul{
    padding-left: 2em;
}

#edu1{
    position: relative;
}

#edu2{
    position: relative;
}

.job{
    position: relative;
}

.row {
    width:100%;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5px;
    border-style: solid;
    border-color:rgb(97, 31, 62);;
    border-width: 2px 0px 0px 0px;
}

.sect-name{
    width: 15%;
}

.sect-content{
    width: 85%;
}

.resume{
    font-size: small;
    text-align: center;
    margin-top: 1em;
}

#clearance{
    padding-left: 1em;
}

a{
    color:rgb(148, 0, 69)
}
